.pagination {
    position: relative;
    left: 45%;
}

.pagination a {
    padding: 20%;
    border: 1px solid black;
    font-weight: bold;
    color: brown;
    cursor: pointer;
}

    .pagination a:hover {
        color: orangered;
        border-color: orangered;
    }

#currentPage {
    background-color: cornflowerblue;
}

#searchDiv {
    position: relative;
    width: 15%;
    float: left;
    border: 1px solid black;
    padding:2px;
    border-radius: 5px;
    background-color: aliceblue;
    margin-top: 3%;
}

#searchDiv a {
    position: relative;
    float: left;
    margin-top:1px;
    width:100%;
}

#searchByValue {
    position: relative;
    float: left;
    margin: 2px,2px,2px,5px;
    width: 100%;
}

.form-group label{
    position:relative;
    width:100%;
    font-size: 90%;
}


