.pagination {
    position: relative;
    left: 45%;
}

.pagination a {
    padding: 20%;
    border: 1px solid black;
    font-weight: bold;
    color: #8d8e91;
    cursor: pointer;
}

.pagination a:hover {
    color: #bb141a;
    border-color: yellowgreen;
}

#currentPage {
    background-color: burlywood;
}